<ion-view view-title="{{product.libelle}}" name="product-view">
  <ion-content class="padding">      
      <center>
		<img src="{{product.url}}" style="width:150px;height:150px;">
	    <p>{{product.prix}} €<p>
	    <p>{{product.description}}</p>
	    
	    Quantité {{quantite}} 
	    <p>
	    	<button class="button button-icon icon ion-ios-minus-empty" ng-click="remove()"></button><button class="button button-icon icon ion-ios-plus-empty" ng-click="add()"></button>
	    </p>
	     <!-- <button class="button" ng-click="shop()"></button>  -->
	     <p>
	       <a href="#/tab/products">Retour à la liste des produits</a>
	     </p>
	    
	    </center>
  </ion-content>
</ion-view>

<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Accueil" icon-off="icon ion-ios-home" icon-on="icon ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Ma commande" icon-off="icon ion-ios-cart" icon-on="icon ion-ios-cart" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>
  

  <ion-tab title="Mon compte" icon-off="icon ion-ios-gear" icon-on="icon ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
   
  <ion-tab title="Commander" icon-off="icon ion-wineglass" icon-on="icon ion-wineglass" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>


</ion-tabs>

 -->