<ion-view view-title="{{product.libelle}}" name="product-view">
  <ion-content class="padding">      
      <center>
		<img src="{{product.url}}" style="width:150px;height:150px;">
	    <p>{{product.prix}} €<p>
	    <p>{{product.description}}</p>
	    
	    Quantité {{quantite}} 
	    <p>
	    	<button class="button button-icon icon ion-ios-minus-empty" ng-click="remove()"></button><button class="button button-icon icon ion-ios-plus-empty" ng-click="add()"></button>
	    </p>
	     <!-- <button class="button" ng-click="shop()"></button>  -->
	     <p>
	       <a href="#/tab/products">liste</a>
	     </p>
	    
	    </center>
  </ion-content>
</ion-view>