<ion-view view-title="Description du produit" name="product-view">
  <ion-content class="padding">      
      <center>
		<img src="img/mojito.png" style="width:150px;height:150px;">
	    <h3>Mojito</h3>
	    <p>6.50 €<p>
	    <p>Itaque tum Scac libro enquam' et 'insentibus coram haberi sermo videretur.</p>
	    
	    Quantité <button class="button button-icon icon ion-ios-plus-empty"></button><button class="button button-icon icon ion-ios-minus-empty"></button>
	    
	    
	    </center>
  </ion-content>
</ion-view>