<ion-view view-title="Liste des produits">

   
   <ion-content class="padding">

<!-- <div class="row">
<div class="col">
  <div class="card">
	<div class="item">
	   <img src="img/sexonthebeach.png">
	    <h2>Sex on the beach</h2>
	    <p>6.50 €</p>
	</div>
  </div>
</div>
<div class="col">
	<div class="card">
	  <div class="item">
	    <img src="img/mojito.png">
	    <h2>Mojito</h2>
	    <p>6.50 €<p>
	  </div>
	</div>
</div>
</div>  	

 -->
    
<div class="row">

  <div class="col">
  	<a href="#/product/1"><img src="img/mojito.png" style="width:60px;height:60px;"></a>
	    <h5>Mojito</h5>
	    <p>6.50 €<p>
  </div>
  <div class="col">
  	<img src="img/sexonthebeach.png" style="width:60px;height:60px;">
	    <h5>Sex on the beach</h5>
	    <p>6.50 €<p>
  </div>

</div>
    
    
  </ion-content>
   
   

</ion-view>
