<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Accueil" icon-off="icon ion-ios-home" icon-on="icon ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Shop Tab -->
  <ion-tab title="Ma commande" icon-off="icon ion-ios-cart" icon-on="icon ion-ios-cart" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>
  
    <!-- Account Tab -->
  <ion-tab title="Mon compte" icon-off="icon ion-ios-gear" icon-on="icon ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
     <!-- Products list Tab -->
  <ion-tab title="Commander" icon-off="icon ion-wineglass" icon-on="icon ion-wineglass" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>


</ion-tabs>
